extends ../layout.pug
block content
    form(id="content")
        input(name="contentId" type="hidden" value=content._id)
        div(class="form-group")
            label 分类名称
            select(class="form-control" name='cateName')
                each item in category
                    if content.category._id == item.id
                        option(value=item._id selected)= item.catname
                    else
                        option(value=item._id)= item.catname
        div(class="form-group")
            label 内容标题
            input(class="form-control" name='title' type="text" value=content.title placeholder="请输入内容名称")
        div(class="form-group")
            label 内容简介
            input(class="form-control" name='description' type="text" value=content.description placeholder="请输入内容简介")
        div(class="form-group")
            label 内容
            div(class="d-flex")
                div(class="form-control"  placeholder="请输入内容" id="texts")
                    span(style="display:none")= content.content
        button(class="btn btn-primary" id='contentAdd' type="button") 保存
    script(src="/static/js/wangEditor.min.js")
    script(src="/static/js/wangEditorConfig.js")
    script(src="/static/js/common.js")
    script.
        let $contentBox = $("#content")
        let $cateName = $contentBox.find("select[name='cateName']")
        let $title = $contentBox.find("input[name='title']")
        let $description = $contentBox.find("input[name='description']")
        let $content = $contentBox.find("#texts")
        let $contentId = $contentBox.find("input[name='contentId']")
        let E = window.wangEditor
        let editor = new E('#texts')
        initEditor(editor)
        editor.txt.html($content.find('span').text())
            $("#contentAdd").on("click",function (){
                if($title.val()==''){
                    $(".alert").remove()
                    $title.after(hintErr('标题不能为空',$title))
                    $title.focus()       
                    return
                }
                if($description.val()==''){
                    $(".alert").remove()
                    $description.after(hintErr('简介不能为空',$description))
                    $description.focus()       
                    return
                }
                if(editor.txt.html()==''){
                    $(".alert").remove()
                    $content.after(hintErr('内容不能为空',$content))
                    $content.focus()       
                    return
                }
                $.ajax({
                    type:'post',
                    url:'/content/content_edit',
                    data:{
                        cateName:$cateName.val(),
                        title:$title.val(),
                        description:$description.val(),
                        content:editor.txt.html(),
                        contentId:$contentId.val()
                    },
                    dataType:'json',
                    success(result){
                        console.log(result)
                        if(result.code == 1){
                            $title.after(hintErr(result.message,$title))
                            $title.focus()       
                            return
                        }
                         $("#contentAdd").before(alertBox(result.message+"1 秒后跳转"))
                         setTimeout(()=>{
                             window.location.href="/content"
                         },1000)
                    }
                })
            })