extends ../layout.pug
block content
    div(class="mb-3")
        a(class="btn btn-info" href="/content/content_add" role="button") 添加内容
    div(class="customTable")
        table(class="table table-hover")
            thead(class="thead-light table-sm")
                tr
                    th ID
                    th 文章标题
                    th 更新时间
                    th 类目
                    th 点击
                    th 发布人
                    th(class="text-center") 操作
            tbody
                each content in contents
                    tr
                        td= content._id
                        td= content.title
                        td= content.addTime
                        td= content.category.catname
                        td 1
                        td= content.user.username
                        td(class="text-center")
                            a(class="btn btn-outline-info btn-sm" href="/content/content_edit?id="+content._id role="button") 编辑
                            a(class="btn btn-outline-danger btn-sm ml-3 deleteBtn" data-appid=content._id href="javascript:;" role="button") 删除
    div(class="clearfix")
        ul(class="pagination pagination-sm float-right")
            //-显示页数数
            - let showPage = 5
            //-偏移量
            - let pageOffset = (showPage-1)/2
            //-初始化数据
            - let start = 1
            - let endPage = data.pages
            if data.page<=1
                li(class="page-item disabled")
                    a(class="page-link active" href="javascript:;") 上一页
            else
                li(class="page-item")
                    a(class="page-link active" href="?page="+ (data.page-1)) 上一页
            if endPage > showPage
                if data.page > pageOffset+1
                    li(class="page-item disabled")
                        a(class="page-link active" href="javascript:;") ...
                if data.page > pageOffset
                    - start = data.page - pageOffset
                    - endPage = data.pages > data.page+pageOffset ? data.page+pageOffset : data.pages
                else
                    - start = 1
                    - endPage = data.pages > showPage ? showPage : data.pages
                if data.page + pageOffset > data.pages
                    - start = start - (data.pages + pageOffset - endPage)
            - for(let i = start; i<=endPage;i++)
                if data.page == i       
                    li(class="page-item active")
                        a(class="page-link" href="javascript:;")= i
                else
                    li(class="page-item")
                        a(class="page-link" href="?page="+(i))= i
            if data.pages > showPage && data.pages > data.page + pageOffset
                li(class="page-item disabled")
                    a(class="page-link active" href="javascript:;") ...
            if data.page>=data.pages
                li(class="page-item disabled")
                    a(class="page-link active" href="javascript:;") 下一页
            else
                li(class="page-item")
                    a(class="page-link active" href="?page="+ (data.page+1)) 下一页
            li(class="page-item ml-3  disabled")
                a(class="page-link active" href="javascript:;") 共 #{data.pages} 页
            li(class="page-item ml-3")
                form(action="" method="get")
                    div(class="input-group input-group-sm")
                        div(class="input-group-prepend")
                            span(class="input-group-text") 到第
                        input(class="form-control text-center" name="page" type="text" autocomplete="off" size='2')
                        div(class="input-group-prepend")
                            button(class="btn btn-secondary" type="submit") 跳转
    div(class="modal" id="exampleModal" role="dialog" tabindex="-1")
        div(class="modal-dialog" role="document")
            div(class="modal-content")
                div(class="modal-header")
                    h5(class="modal-title") 是否删除
                div(class="modal-body")
                div(class="modal-footer text-center")
                    button(class="btn btn-danger" id='deleteBtn' type="button") 删除
                    button(class="btn btn-secondary ml-3" data-dismiss="modal" type="button") 返回
    script(src="/static/js/common.js")
    script.
        let appid = '';
        $(".deleteBtn").on('click',function(){
             $('#exampleModal').modal({
                backdrop: 'static'
            })
             appid=$(this).data('appid')
        })

        $("#deleteBtn").on('click',function (){
            $.ajax({
                type:"post",
                url:'/content/category_remove',
                data:{
                    appid:appid
                },
                dataType:'json',
                success(result){
                      if(result.code == 1){
                        $(".modal-body").append(alertBox(result.message))
                        return
                    }else{
                        $(".modal-body").append(alertBox(result.message+'1秒后跳转'))
                        setTimeout(()=>{
                            window.location.reload()
                        },1000)
                    }
                },
                error(xhr){
                    console.log(错误提示 + xhr.status+ +xhr.statusText)
                }
            })
        })